"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    lineHeight: 1.5
    showIndentGuide: true
    preferredLineLength: 120
    invisibles: {}
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "go-plus": {}
